


<form ng-submit="vm.createRant()">
<textarea ng-model="vm.newRant.content" style="width: 80%; height: 500px; border: 0px; outline: none; resize: none; font-size: 22px;" id="input" placeholder="Start typing to begin.">
</textarea>
<div id="submit">
	congrats, you did it!<br>
	<input ng-model="vm.newRant.title" placeholder="Untitled Rant" type="text">
	<input type="submit" value="submit rant!">
</div>

</form>




<div id="wordcount"></div>

<script>
$(function() {

	var typingTimer;                
	var doneTypingInterval = 200;
	var $input = $('#input');

	$("#submit").hide();


	function doneTyping () {
		$("#input").fadeOut(4000, function(){
			console.log("you typed words:"+wordCount());
			$("#submit").fadeIn(2000);
		});
	}

	function wordCount() { 
	  return $("#input").val().split(" ").length;
	}

    $input.on('keyup', function () {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(doneTyping, doneTypingInterval);
	});

		$input.on('keydown', function () {
		  clearTimeout(typingTimer);
		  $("#wordcount").html(wordCount());
		  $("#input").stop();
		  $("#input").fadeIn(200);
		});

});
</script>