<h2>view rants</h2>
<p class="lead">
<p><input placeholder='search' type="text" ng-model="searchTerm"></p>
<button ng-click="sentimentFilter = {sentiment: ''}">all</button>
<button ng-click="sentimentFilter = {sentiment: 'positive'}">positive</button>
<button ng-click="sentimentFilter = {sentiment: 'neutral'}">neutral</button>
<button ng-click="sentimentFilter = {sentiment: 'negative'}">negative</button> 
<br>
<div class="well">

	<table class='table'>
		<tr><th>title</th><th>sentiment</th><th>score</th></tr>
		<tr ng-repeat="rant in vm.rants | filter : sentimentFilter | filter: searchTerm">
			<td><a href="#/rant/{{rant.id}}">{{rant.title}}</a></td>
			<td>{{rant.sentiment}}</td>
			<td><button ng-click="vm.plusOne(rant)">+1</button> {{rant.score}}</td>
		</tr>
	</table>

</div>
</p>